@media (width < 380px){
    .bachi{
        display: none;
    }
}

@media (width > 380px){
    .giorgi{
        display: none;
    }
}
@media (width > 1440px){


    h1{
        color: white;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.50px;
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 30px;
    }
    h2{
        color: #FB5E84;
    font-size: 80px;
    font-weight: 700;
    line-height: 71px;
    word-wrap: break-word;
    margin-bottom: 20px;
    }

    small{
        color: #8385A9;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 5.92px;
    word-wrap: break-word;
    }

    .mini-container h2{
        margin-top: 60px;
    }

    .mini-container{
        width: 120px;
        height: 120px;
        margin: 20px;
    }
}




